.transactionHistory {
  border-collapse: collapse;
  table-layout: auto;
  width: 600px;
  margin: 60px auto;
  padding: 5px;
  border-radius: 0px 0px 4px 4px;
  background: white;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.tableHeader {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #a6a2a2;
  border-right: 1px solid #a6a2a2;
  background-color: #e84040;
  color: white;
}

.tableData {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #a6a2a2;
  border-right: 1px solid #a6a2a2;
}

.type {
  font-weight: bold;
}

.tableData:first-of-type {
  text-transform: capitalize;
}
